.mainContainer {
  width: 100%;
  height: calc(100vh);
  display: flex;
}

.mainCard {
  width: calc(20vw);
  height: calc(40vh);
  border-radius: '10px';
  box-shadow: '0 4px 8px rgba(0, 0, 0, 0.1)';
}
