.PaginationUl {
  display: absolute;
  flex-direction: row;
  float: center;
  list-style: none;
  text-align: center;
  border-radius: 3px;
  color: black;
  border-radius: 10px;
  padding: 0px;
}

.PaginationLi {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  padding: 0px;
  border-radius: 5px;
  width: 35px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #000000;
  }
  &:focus {
    color: white;
    background-color: #000000;
  }
}

.PaginationSpan {
  &:hover::after,
  &:focus::after {
    border-radius: 100%;
    color: white;
    background-color: #263a6c;
  }
}
