.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 100%;
  height: calc(100vh);
  overflow-y: auto;
  background-color: #000000;
  color: #ffffff;
}

.startTitle {
  margin-top: 3%;
}

.startButton {
  margin-top: 3%;
  display: flex;
}
